*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
button{
    height: 100px;
    width: 100px;
}


.container{
    background-color: papayawhip;
    width: 400px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    
    
}
.result{
    background-color:gray;
    grid-column: 1/5;
}
.reset{
    grid-column: 1/3 ;
    grid-row: 2;
}
.back{
    background-color:gray;

}

.division{
    background-color:orange;
}
.zero{
    grid-column: 1/4;
}